<div class="row">

  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>  إضافة إذن إستلام     </nb-card-header>
      <nb-card-body>
        <div class="full-name-inputs">
          <input type="number" nbInput fullWidth placeholder="  تاريخ الوصول  " />
          <input type="number" nbInput fullWidth placeholder=" رقم الحاوية " />
        </div>
        <div class="full-name-inputs">
          <input type="number" nbInput fullWidth placeholder="   الرقم التسلسلي" />
          <input type="number" nbInput fullWidth placeholder=" إسم المخزن " />
        </div>

        <div class="full-name-inputs">
          <textarea   nbInput fullWidth placeholder="  ملاحظات " > </textarea>
        </div>


        <div class="full-name-inputs">
          <button type="submit" nbInput fullWidth nbButton status="info"> تسجيل  </button>
        </div>

      </nb-card-body>
    </nb-card>
  </div>

</div>
