<div class="row">
  <div class="col-lg-12">
    <nb-card>
    <nb-card-header>
    <a routerLink="/pages/store/recovery-inputs" class="add-btn">
        <button class="btn">  <i class="fa fa-plus"></i> إضافة </button>
    </a>
</nb-card-header>
      <nb-card-body>
        <table class="table table-borderless table-hover">
          <thead>
            <tr>
              <td>إسم المخزن</td>
              <td>تاريخ الترجيع</td>
              <td>البضاعة</td>
              <td>إسم الزبون</td>
              <td>الرقم التسلسلي </td>
              <td>الاعدادت </td>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let number of [0,1,2,3,4]">
              <td>10</td>
              <td>12</td>
              <td>355</td>
              <td>120</td>
              <td>85</td>
              <td>
                <a href="#" class="view" title="View" data-toggle="tooltip"
                  ><i class="material-icons">&#xE417;</i></a
                >
                <a href="#" class="edit" title="Edit" data-toggle="tooltip"
                  ><i class="material-icons">&#xE254;</i></a
                >
                <a href="#" class="delete" title="Delete" data-toggle="tooltip"
                  ><i class="material-icons">&#xE872;</i></a
                >
              </td>
            </tr>
          </tbody>
        </table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
